# Question One - Fraud Detection

##### Import Required Libraries

In [104]:
import pandas as pd

##### Load in Data, Create Dataframes and Perform Basic Data Cleaning

In [105]:
insurance_fraud_train_df = pd.read_csv('data/assignment_two/insurance_fraud_train.csv').dropna(axis='columns', how='all')
insurance_fraud_test_df = pd.read_csv('data/assignment_two/insurance_fraud_test.csv').dropna(axis='columns', how='all')

In [106]:
print(f"Length of Train DF: {len(insurance_fraud_train_df)}.")
print(f"Length of Test DF: {len(insurance_fraud_test_df)}.")
# Curious how the Train DF is like 19% the size of all the data, almost seems backwards..
insurance_fraud_train_df.head(1)

Length of Train DF: 2999.
Length of Test DF: 12918.

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes

In [107]:
insurance_fraud_test_df.head(1)

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes

In [117]:
# Clearly, "One-Hot-Encoding" Will Be Necessary..
# Remember that we must first combine the datasets BEFORE encoding, then we can split the datasets again.
# Let's concatenate, encode, and re-split:
concat_df = pd.concat([insurance_fraud_train_df,insurance_fraud_test_df])

In [118]:
concat_df.keys()

Index(['MONTH', 'WEEKOFMONTH', 'DAYOFWEEK', 'MAKE', 'ACCIDENTAREA',
       'DAYOFWEEKCLAIMED', 'MONTHCLAIMED', 'WEEKOFMONTHCLAIMED', 'SEX',
       'MARITALSTATUS', 'AGE', 'FAULT', 'POLICYTYPE', 'VEHICLECATEGORY',
       'VEHICLEPRICE', 'REPNUMBER', 'DEDUCTIBLE', 'DRIVERRATING',
       'DAYS_POLICY_ACCIDENT', 'DAYS_POLICY_CLAIM', 'PASTNUMBEROFCLAIMS',
       'AGEOFVEHICLE', 'AGEOFPOLICYHOLDER', 'POLICEREPORTFILED',
       'WITNESSPRESENT', 'AGENTTYPE', 'NUMBEROFSUPPLIMENTS',
       'ADDRESSCHANGE_CLAIM', 'NUMBEROFCARS', 'YEAR', 'BASEPOLICY',
       'FRAUDFOUND'],
      dtype='object')

In [119]:
encoding_columns = ['MONTH','WEEKOFMONTH']

      MONTH  WEEKOFMONTH
0       Jul            3
1       Nov            5
2       Jan            1
3       Dec            1
4       Dec            5
...     ...          ...
12913   Dec            1
12914   Oct            2
12915   Apr            4
12916   Jun            2
12917   Jun            2

[15917 rows x 2 columns]

In [120]:
from sklearn.preprocessing import OneHotEncoder

In [121]:
one_hot_encoder = OneHotEncoder()

In [122]:
x = one_hot_encoder.fit_transform(concat_df[encoding_columns]).toarray()

In [123]:
one_hot_encoder.categories_

[array(['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May',
        'Nov', 'Oct', 'Sep'], dtype=object),
 array([1, 2, 3, 4, 5], dtype=int64)]

In [129]:
x.shape

(15917, 17)